.nuevoCSS1{
    background-color: black;
  }
.nuevoCSS1 h3{
      background-color: greenyellow;
  }
  
.nivel2{
    background-color: chocolate;
}

/*Fonde del carousel*/
#nuevoCarousel{
    background-color: none;
    padding-top: 93px;
    background: #a64eee;
  /* Old browsers */
  background: -moz-linear-gradient(left, #a64eee 0%, #3c35ce 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #a64eee 0%, #3c35ce 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #a64eee 0%, #3c35ce 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a64eee', endColorstr='#3c35ce',GradientType=1 );
  /* IE6-9 */
}

#nuevoCarousel img{
    margin-top: 80px;
    margin-bottom: 80px;
}

