.nuevoCSS1{
    background-color: black;
  }
.nuevoCSS1 h3{
      background-color: greenyellow;
  }
  
.nivel2{
    background-color: chocolate;
}

/*Fonde del carousel*/
#nuevoCarousel{
    
    padding-top: 93px;
    /*background: rgb(242,5,116);
    background: linear-gradient(0deg, rgba(242,5,116,1) 0%, rgba(87,8,64,1) 100%, rgba(87,8,73,1) 100%);
    */
    background: #E6E6E6;
    /*background: white;*/
}

#nuevoCarousel img{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
}

