{% extends 'core/base.html' %}
{% load static %}
{% block content %}

    <!-- slider_area_start -->
    <div class="slider_area " id="home">
        <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-6 col-md-6">
                        <div class="illastrator_png">
                            <img src="{% static 'core/img/banner/edu_ilastration.png' %}" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="slider_info">
                            <h3>Cursos de <br>
                                nivel universitario <br>
                                en línea</h3>
                            <a href="#courses" class="boxed_btn">Conoce nuestros cursos!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <!--Seccion universidades-->


<!-- our_courses_start -->
    <div id="about" style="padding-bottom: 1%;">
        <br>
    </div>
    <div class="our_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-90">
                        <h3>Sobre UNX</h3>
                         <p>UNX es una plataforma que a través de cursos, talleres, conferencias e infoproductos<br>
                            ofrece en línea el conocimiento y la investigación de académicos y profesionales de las<br>
                            más prestigiosas universidades con el fin de brindar una oferta de educación masiva<br>
                            y de calidad abierta a todos los sectores de la población. Para ello ofrecemos:<br>
                         </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 service-item">
                        <div class="service-icon">
                            <img src="{% static 'core/img/services-icons/1.png' %}" alt="1">
                        </div>
                        <div class="service-content">
                            <h4>El mejor material audiovisual</h4>
                            <p>A través de nuestro campus virtual te ofrecemos todo el material de estudio incluido, incluyendo videos, libros y aplicaciones adaptados a cada curso.</p>
                        </div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'core/img/services-icons/2.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Aprendizaje a distancia</h4>
						<p>Podés cursar y aprender desde cualquier lugar del mundo, con contenidos adaptados por nuestro equipo pedagógico para potenciar el aprendizaje en línea.</p>
					</div>
				</div>
                <div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'core/img/services-icons/3.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Certificá tus capacidades</h4>
						<p>Una vez aprobado el curso, te enviaremos un certificado de finalización como comprobante de tus logros .</p>
					</div>
				</div>
                <div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'core/img/services-icons/4.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Profesores calificados</h4>
						<p>Nuestros profesores cuentan con amplia experiencia académica y profesional en cada una de sus especialidades.</p>
					</div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'core/img/services-icons/5.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Aprende a tu ritmo</h4>
						<p>Nuestro contenido se encuentra disponible las 24 hs, con nuestro equipo de instructores acompañandote siempre.</p>
					</div>
                </div>
                <div class="col-lg-4 col-sm-6 service-item">
					<div class="service-icon">
						<img src="{% static 'core/img/services-icons/6.png' %}" alt="1">
					</div>
					<div class="service-content">
						<h4>Laboratorio UNX</h4>
						<p>Te ofrecemos sumarte a nuestra red y publicar en nuestro laboratorio de innovación.</p>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- our_courses_end -->

    <div class="container-fluid" style="background-color: rebeccapurple;">
        <div class="row">
            <div class="col align-self-center"> <p class="section_title text-center"
                style="color: white; font-size: 150%;">
                <strong>Aprendé con profesionales de las mejores universidades</strong>
                </p></div>
        </div>
        <!-- <div class="row ">
            <div class="col-6 col-lg-2 img-fluid univ" style="
             background-image: url('{% static 'core/img/univ/uba2.jpg' %}')">
            </div>
            <div class="col-6 col-lg-2 univ" style="
            background-image: url('{% static 'core/img/univ2/untref.jpg' %}')">
            </div>
            <div class="col-6 col-lg-2 univ" style="
            background-image: url('{% static 'core/img/univ/uader5.jpg' %}')">
            </div>
            <div class="col-6 col-lg-2 univ" style="
            background-image: url('{% static 'core/img/univ/unaj.jpg' %}')">
            </div>
            <div class="col-6 col-lg-2 univ" style="
            background-image: url('{% static 'core/img/univ/undav.jpg' %}')">
            </div>
            <div class="col-6 col-lg-2 univ" style="
            background-image: url('{% static 'core/img/univ2/unlp.jpg' %}')">
            </div>
        </div> -->
        <div class="row">
                <img class="img-fluid" src="{% static 'core/img/univ3/banner.JPG' %}" alt="">
        </div>
    </div>
    <!-- popular_courses_start -->
    <div id="courses" style="padding-bottom: 1%;">
        <br>
    </div>
    <div class="popular_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Nuestros Cursos</h3>
                        <p><strong>Comienza ya mismo a cursar</strong> y recibe asesoramiento<br>
                            personalizado por parte de nuestros intructores</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="course_nav">
                        <nav>
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#todos" role="tab"
                                        aria-controls="home" aria-selected="true">Todos los Cursos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cienciaDatos" role="tab"
                                        aria-controls="profile" aria-selected="false">Ciencia de Datos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#programacion" role="tab"
                                        aria-controls="contact" aria-selected="false">Programación</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="design-tab" data-toggle="tab" href="#gestion" role="tab"
                                        aria-controls="design" aria-selected="false">Gestión y Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="design-tab" data-toggle="tab" href="#historia" role="tab"
                                        aria-controls="design" aria-selected="false">Historia y Humanidades</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="all_courses">
            <div class="container">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                {% load courses_extras %}
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.tags.first.name}}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ <strong>{{course.dollarPrice|floatformat:"0"}}</strong> o
                                                        </span>
                                                        <span class="active_prise">
                                                            <strong>${{course.pesoPrice|floatformat:"0"}}</strong> pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                    </div>
                    <div class="tab-pane fade" id="cienciaDatos" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Ciencia de Datos" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                    <div class="tab-pane fade" id="programacion" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Programación" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}"></a>
                                                    <img src="{{ course.imageCourse.url }}" alt="{{course.title}}">
                                                </a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                    <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="design-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Gestión y Management" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                     <div class="tab-pane fade" id="historia" role="tabpanel" aria-labelledby="design-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Historia" or course.categories.first.name == "Humanidades" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                </div>
                    </div>


                    <div class="col-xl-12">
                        <div class="more_courses text-center">
                            <a href="{% url 'courses:courses' %}" class="boxed_btn_rev">Más cursos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_courses_end-->

    <!-- subscribe_newsletter_Start -->
    <div class="subscribe_newsletter">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="newsletter_text">
                        <h3>Suscribite a nuestro Newsletter</h3>
                        <p>Accedé a todas nuestras novedades, ofertas y actividades programadas</p>
                    </div>
                </div>
                <div class="col-xl-5 offset-xl-1 col-lg-6">
                    <div class="newsletter_form" >
                        <h4></h4>
                        <div >
                        <form action="https://acdesweb.us10.list-manage.com/subscribe/post?u=e4d03416925a9a73ad6c9a859&amp;id=b9dc5e8632" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletter_form" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <input type="email" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Ingrese su correo electrónico" required>
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_e4d03416925a9a73ad6c9a859_b9dc5e8632" tabindex="-1" value=""></div>
                                <button type="submit" name="subscribe" id="mc-embedded-subscribe">Registrarse</button>
                            </div>
                        </form>
                        </div>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- subscribe_newsletter_end -->

    <!-- our_latest_blog_start -->
    <div class="our_latest_blog" id="news">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Noticias</h3>
                    </div>
                </div>
            </div>
            <div class="row">
            {% load news_extras %}
			{% get_news_list as news_list %}
			{% for news in news_list|slice:3 %}
                <div class="col-xl-4 col-md-4">
                    <div class="single_latest_blog">
                        <div class="thumb">
                            <img src="{{ news.imageNews.url }}" alt="">
                        </div>
                        <div class="content_blog">
                            <div class="date">
                                <p>{{news.created|date:"d"}} de  {{news.created|date:"F"}} de {{news.created|date:"Y"}}</p>
                            </div>
                            <div class="blog_meta">
                                <h3><a href="{% url 'news:news' news.id news.title|slugify %}">{{news.title}}</a></h3>
                            </div>
                            <p class="blog_text">
                                {{news.subtitle}}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="more_courses text-center">
                        <a href="{% url 'news:news_list' %}" class="boxed_btn_rev">Más noticias</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- our_latest_blog_end -->




{% endblock %}