{% extends 'core/base.html' %}
{% block home %}{% url 'home' %}{% endblock %}
{% block about %}{% url 'home' %}#about{% endblock %}
{% block news %}{% url 'news:news_list' %}{% endblock %}
{% block homef %}{% url 'home' %}{% endblock %}
{% block aboutf %}{% url 'home' %}#about{% endblock %}
{% block newsf %}{% url 'news:news_list' %}{% endblock %}
{% load static %}
{% block content %}

    <!-- header-end -->
        <!-- bradcam_area_start -->
        <div class="bradcam_area breadcam_bg overlay2">
            <h3>Nuestros Cursos</h3>
        </div>
        <!-- bradcam_area_end -->

    <!-- popular_courses_start -->
    <div id="courses" style="padding-bottom: 1%;">
        <br>
    </div>
    <div class="popular_courses">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-100">
                        <h3>Nuestros Cursos</h3>
                        <p><strong>Comienza ya mismo a cursar</strong> y recibe asesoramiento<br>
                            personalizado por parte de nuestros intructores</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="course_nav">
                        <nav>
                            <ul class="nav" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#todos" role="tab"
                                        aria-controls="home" aria-selected="true">Todos los Cursos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#cienciaDatos" role="tab"
                                        aria-controls="profile" aria-selected="false">Ciencia de Datos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#programacion" role="tab"
                                        aria-controls="contact" aria-selected="false">Programación</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="design-tab" data-toggle="tab" href="#gestion" role="tab"
                                        aria-controls="design" aria-selected="false">Gestión y Management</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="design-tab" data-toggle="tab" href="#historia" role="tab"
                                        aria-controls="design" aria-selected="false">Historia y Humanidades</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>

        </div>
        <div class="all_courses">
            <div class="container">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="todos" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                {% load courses_extras %}
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.tags.first.name}}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ <strong>{{course.dollarPrice|floatformat:"0"}}</strong> o
                                                        </span>
                                                        <span class="active_prise">
                                                            <strong>${{course.pesoPrice|floatformat:"0"}}</strong> pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                    </div>
                    <div class="tab-pane fade" id="cienciaDatos" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Ciencia de Datos" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                    <div class="tab-pane fade" id="programacion" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Programación" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}"></a>
                                                    <img src="{{ course.imageCourse.url }}" alt="{{course.title}}">
                                                </a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                    <div class="tab-pane fade" id="gestion" role="tabpanel" aria-labelledby="design-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Gestión y Management" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                </div>
                    </div>

                     <div class="tab-pane fade" id="historia" role="tabpanel" aria-labelledby="design-tab">
                            <div class="row">
                                {% get_courses_list as course_list %}
                                {% for course in course_list|slice:3 %}
                                {% if course.categories.first.name == "Historia" or course.categories.first.name == "Humanidades" %}
                                    <div class="col-xl-4 col-lg-4 col-md-6">
                                        <div class="single_courses">
                                            <div class="thumb">
                                                <a href="{% url 'courses:course' course.id course.title|slugify %}" style="background-image: url({{course.imageCourse.url}});" class="block20"></a>
                                            </div>
                                            <div class="courses_info">
                                                <span>{{ course.categories.name }}</span>
                                                {% if course.title|length < 55 %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title}}</a></h3>
                                                {% else %}
                                                <h3><a href="{% url 'courses:course' course.id course.title|slugify %}">{{course.title|slice:"50"}}...</a></h3>
                                                {% endif %}
                                                {% load l10n %}
                                                <div class="star_prise d-flex justify-content-between">
                                                    <div class="prise">
                                                        {% comment %} <span class="offer">$89.00</span> {% endcomment %}
                                                        <span class="active_prise">
                                                            US$ {{course.dollarPrice|floatformat:"0"}} o
                                                        </span>
                                                        <span class="active_prise">
                                                            ${{course.pesoPrice|floatformat:"0"}} pesos args
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                                {% endfor %}
                                </div>
                    </div>


                    <div class="col-xl-12">
                        <div class="more_courses text-center">
                            <a href="{% url 'courses:courses' %}" class="boxed_btn_rev">Más cursos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- popular_courses_end-->

{% endblock %}