{% extends 'core/base.html' %}
{% block home %}{% url 'home' %}{% endblock %}
{% block about %}{% url 'home' %}#about{% endblock %}
{% block courses %}{% url 'courses:courses' %}{% endblock %}
{% block news %}{% url 'news:news_list' %}{% endblock %}
{% block homef %}{% url 'home' %}{% endblock %}
{% block aboutf %}{% url 'home' %}#about{% endblock %}
{% block coursesf %}{% url 'courses:courses' %}{% endblock %}
{% block newsf %}{% url 'news:news_list' %}#news{% endblock %}
{% load static %}
{% load custom_tags %}
{% block content %}
{% load l10n %}

<div class="container">
  {% comment %}  {% endcomment %}
    <h1>Compra del Curso {{course.title}}</h1>

    <div class="courseImageContainer text-center">
      <div class="payment-separator-top"></div>
      <img src="{{ course.imageCourse.url }}" alt="Course Image" class="courseImage">
    </div>

    <h2>Selecciona tu forma de pago:</h2>

    <div id="paymentOptions" class="btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="mercadoPago" value="mercadoPago"> Mercado Pago
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaPesos" value="transferenciaPesos"> Transferencia Bancaria en pesos
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="paypal" value="paypal"> PayPal
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaDolares" value="transferenciaDolares"> Transferencia Bancaria en dolares
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaEuros" value="transferenciaEuros"> Transferencia Bancaria (Euros)
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaBitcoin" value="transferenciaBitcoin"> Transferencia en Bitcoin
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaEtherium" value="transferenciaEtherium"> Transferencia en Etherium
      </label>

      <label class="btn btn-primary mb-2">
        <input type="radio" name="paymentMethod" id="transferenciaUSDT" value="transferenciaUSDT"> Transferencia en USDT
      </label>
    </div>

    <div id="paymentDetails">
      <div id="mercadoPagoDetails" class="paymentMethodDetails">
        <p>Precio: ${{course.pesoPrice}} pesos</p>
        <p>Con Mercado Pago, podrás pagar con tarjeta de crédito, tarjeta de débito y efectivo</p>
        <script src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
data-preference-id="76799908-b7043371-ce79-4240-9753-ff0292c13da0" data-source="button">
</script>
      </div>

      <div id="transferenciaPesosDetails" class="paymentMethodDetails">
        <p>Precio: ${{ course.pesoPrice|calc_discount:10|floatformat:"2" }} pesos (10% de descuento)</p>
        <p>Realiza una transferencia a la siguiente cuenta bancaria:</p>
        <p>Banco: Ciudad</p>
        <p>Titular: Asociación Civil por el Desarrollo Económico y Social</p>
        <p>CBU: 0290018600000502078400</p>
      </div>

      <div id="paypalDetails" class="paymentMethodDetails">
        <p>Precio: ${{course.dollarPrice}} dólares</p>
        <p>Con PayPal, podrás pagar con tarjeta de crédito, tarjeta de débito, efectivo y saldo virtual desde cualquier parte del mundo</p>
        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
          <input type="hidden" name="cmd" value="_s-xclick" />
          <input type="hidden" name="hosted_button_id" value="{{course.urlPayPaL}}" />
          <input type="hidden" name="currency_code" value="USD" />
          <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" title="PayPal es una forma segura y fácil de pagar en línea." alt="Comprar ahora" />
        </form>
      </div>

      <div id="transferenciaDolaresDetails" class="paymentMethodDetails">
        <p>Precio: ${{ course.dollarPrice|calc_discount:10|floatformat:"2" }} dólares (10% de descuento)</p>
        <p>Realiza una transferencia a la siguiente cuenta bancaria de Wise:</p>
        <p>Titular: Juan Manuel Casal</p>
        <p>SWIFT/BIC: CMFGUS33</p>
        <p>Número de cuenta: 8312902213</p>
      </div>

      <div id="transferenciaEurosDetails" class="paymentMethodDetails">
        <p>Precio: {{course.dollarPrice}} euros</p>
        <p>Realiza una transferencia a la siguiente cuenta bancaria de Wise:</p>
        <p>Titular: Juan Manuel Casal</p>
        <p>IBAN: XBE88 9675 5732 1041XX</p>
        <p>SWIFT/BIC: TRWIBEB1XXX</p>
      </div>

      <div id="transferenciaBitcoinDetails" class="paymentMethodDetails">
        {% if precio_bitcoin %}
        <p>Precio: {{ precio_bitcoin }} BTC</p>
        {% else %}
        <p>Precio: No disponible</p>
        {% endif %}
        <p>Realiza una transferencia a la siguiente billetera de Bitcoin:</p>
        <p>Red: <b>BSC</b> BNB Smart Chain (BEP20)</p>
        <p>Dirección: 0xa82323367193c05fdc68131df753ee1275aaf834</p>
      </div>

      <div id="transferenciaEtheriumDetails" class="paymentMethodDetails">
        {% if precio_ethereum %}
        <p>Precio: {{ precio_ethereum }} ETH</p>
        {% else %}
        <p>Precio: No disponible</p>
        {% endif %}
        <p>Realiza una transferencia a la siguiente dirección de Etherium:</p>
        <p>Red: <b>BSC</b> BNB Smart Chain (BEP20)</p>
        <p>Dirección: 0xa82323367193c05fdc68131df753ee1275aaf834</p>
      </div>

      <div id="transferenciaUSDTDetails" class="paymentMethodDetails">
        <p>Precio: ${{course.dollarPrice}} USDT</p>
        <p>Realiza una transferencia a la siguiente dirección de USDT:</p>
        <p>Red: <b>BSC</b> BNB Smart Chain (BEP20)</p>
        <p>Dirección: 0xa82323367193c05fdc68131df753ee1275aaf834</p>
      </div>
    </div>

    <div class="text-center mt-4">
    <p>Una vez realizado el pago, haz clic en <b>Notificar Pago y Acceder al Curso</b> y te brindaremos, a través de WhatsApp, el acceso al curso</p>
    </div>
    <div class="text-center mt-4">
      <a href="https://api.whatsapp.com/send?phone=5491123946296&text=Notificar%20compra%20de%20curso%0ANombre%20y%20Apellido%3A%0ACurso%3A%0AMail%20para%20acceso%3A" target="_blank" class="btn btn-primary whatsappButton">Notificar Pago y Acceder al Curso</a>
    </div>

    <div class="text-center mt-4">
      <a href="https://api.whatsapp.com/send?phone=5491123946296&text=Solicito%20soporte%20t%C3%A9cnico%20para%20el%20pago" target="_blank" class="btn btn-primary whatsappButton">Escribinos tu consulta</a>
    </div>
  </div>
  <div class="payment-separator-footer"></div>
{% endblock %}